@page
@model IndexModel

@{
    ViewData["Title"] = "Stadia";
}
@using Microsoft.AspNetCore.Identity
@using SODP.Model
@inject SignInManager<User> SignInManager

<br />
<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">Stadia projektowe</h2>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div id="modal-placeholder"></div>
        <div class="col-4 justify-content-end">
            <button type="button" 
                    class="btn btn-info form-control text-white float-right"
                    title="Nowe stadium"
                    data-toggle="ajax-modal"
                    data-url="@Url.Page("Index","StageDetails")">
                <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowe stadium
            </button>
        </div>
    }

    <div id="StageTable" class="col-12 p-3 mt-3">
        <form method="post">
            @if (Model.StagesViewModel.Stages.Count() > 0)
            {
                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Symbol</th>
                            <th>Opis</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var stage in Model.StagesViewModel.Stages)
                        {
                            <tr>
                                <td>
                                    <a onclick='OpenStageEdit(@stage.Id)' 
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Edycja stadium">
                                    @stage.Sign</a>
                                </td>
                                <td>
                                    <a onclick='OpenStageEdit(@stage.Id)'
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Edycja stadium">
                                    @stage.Title</a>
                                </td>
                                <td>
                                    <div class="row group justify-content-end mr-0">
                                        <div>
                                            <a onclick='DeleteStage("/api/Stages/@stage.Id")'
                                               class="btn btn-sm btn-danger mb-0 mt-0 ml-1 mr-1 p-1 text-white"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Usuń stadium">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="3" class="text-right">
                                <div page-model="@Model.StagesViewModel.PageInfo" asp-action="Index" page-class="btn border"
                                     page-class-normal="btn btn-light" page-class-selected="btn btn-info active" class="btn-group">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p> Lista stadiów jest pusta</p>
            }
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/delete.js"></script>
    <script src="~/js/stageList.js"></script>

    <script>
        function DeleteStage(url) {
            Delete(url);
        }
    </script>

    <script>
        function OpenStageEdit(currentId) {
            $.ajax({
                type: "Get",
                url: '@Url.Page("Index","StageDetails")&Id=' + currentId,
                success: function (data) {
                    $('#modal-placeholder').html(data);
                    $('#editstage').modal('show');
                }
            })
        }
    </script>
}
