@page
@using Microsoft.AspNetCore.Identity
@using SODP.Model

@model IndexModel

@{
    ViewData["Title"] = "Stadia projektowe";
}


@inject SignInManager<User> SignInManager

<br />

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">@ViewData["Title"]</h2>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div id="modal-placeholder"></div>
        <div class="col-3 justify-content-end">
            <button type="button"
                    class="btn btn-info form-control text-white float-right"
                    title="Nowe stadium"
                    data-toggle="ajax-modal"
                    data-url="@Url.Page("Index","NewStage")">
                <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowe stadium
            </button>
        </div>
    }

    @if (Model.StagesViewModel.Stages.Count() > 0)
    {
        <div id="StagesTable" class="col-12 p-3 mt-3">
            <table class="table table-sm table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Symbol</th>
                        <th>Opis</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stage in Model.StagesViewModel.Stages)
                    {
                        <tr class="m-0 p-0">
                            <td class="m-0 p-0">
                                <a onclick='NewStage(@stage.Id)'
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Edycja stadium">
                                    @stage.Sign
                                </a>
                            </td>
                            <td class="m-0 p-0">
                                <a onclick='NewStage(@stage.Id)'
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Edycja stadium">
                                    @stage.Title
                                </a>
                            </td>
                            <td class="m-0 p-0 text-right">
                                <a onclick='Delete("/api/v0_01/stages/@stage.Id")'
                                    class="btn btn-md m-0 p-0 text-danger"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Usuń stadium">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <div class="col-12 text-right">
                <div class="btn-group" asp-action="Index"
                        page-model="@Model.StagesViewModel.PageInfo"
                        page-class="btn border"
                        page-class-normal="btn btn-light"
                        page-class-selected="btn btn-info">
                </div>
            </div>
        </div>
    }
    else
    {
        <p> Lista stadiów jest pusta</p>
    }

</div>

    @section Scripts{
        <script src="~/js/delete.js"></script>
        <script src="~/js/initModalPlaceholder.js"></script>
        <script src="~/js/stagesList.js"></script>

        <script>
        function NewStage(currentId) {
            $.ajax({
                type: "Get",
                url: '@Url.Page("Index","NewStage")&Id=' + currentId,
                success: function (data) {
                    $('#modal-placeholder').html(data);
                    $('#editstage').modal('show');
                }
            })
        }
        </script>
    }
