@page
@using Microsoft.AspNetCore.Identity
@using SODP.Model

@model IndexModel

@{
    ViewData["Title"] = "Stadia projektowe";
}

@inject SignInManager<User> SignInManager


<div class="container p-0 m-0">
    <div class="row pl-3 pr-3">
        <div class="col-8">
            <h2 class="text-info">@ViewData["Title"]</h2>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="col-4 justify-content-end">
                <button type="button"
                        class="btn btn-info form-control text-white float-right"
                        title="Nowe stadium"
                        data-toggle="ajax-modal"
                        data-url="@Url.Page("Index","NewStage")">
                    <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowe stadium
                </button>
            </div>
        }
    </div>

    @if (Model.StagesViewModel.Stages.Count() > 0)
    {   
        <div id="StagesTable" class="col-12 p-3 mt-0">
            <table class="table table-sm table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="m-0 p-0 pl-1 pr-1">Symbol</th>
                        <th class="m-0 p-0 pl-1 pr-1">Opis</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stage in Model.StagesViewModel.Stages)
                    {
                    <tr class="m-0 p-0">
                        <td onclick='NewStage(@stage.Id)'
                            class="cell clickable"
                            data-toggle="tooltip"
                            title="Edycja stadium"
                            data-placement="top">
                            @stage.Sign
                        </td>
                        <td onclick='NewStage(@stage.Id)'
                            class="cell clickable"
                            data-toggle="tooltip"
                            title="Edycja stadium"
                            data-placement="top">
                            @stage.Title
                        </td>
                        <td class="cell text-right">
                            <a onclick='Delete("/api/v0_01/stages/@stage.Id")'
                               class="btn btn-md m-0 py-0"
                               data-toggle="tooltip"
                               data-placement="top"
                               title="Usuń stadium">
                                <i class="fas fa-times text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            @if(Model.StagesViewModel.PageInfo.TotalPages > 1)
            {
                <div class="col-12 text-center">
                    <div class="btn-group"
                         page-model="@Model.StagesViewModel.PageInfo"
                         page-class="btn border"
                         page-class-normal="btn btn-light"
                         page-class-selected="btn btn-info"
                         page-class-prev-next="btn">
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <br /> 
        <p> Lista stadiów jest pusta</p>
    }

</div>

@section Scripts{
    <script src="~/js/delete.js"></script>
    <script src="~/js/initModalPlaceholder.js"></script>
    <script src="~/js/stagesList.js"></script>

    <script>
        function NewStage(id) {
            $.ajax({
                type: "Get",
                url: `@Url.Page("Index","NewStage")&id=${id}`,
                success: function (data) {
                    $('#modal-placeholder').html(data);
                    $('#editstage').modal('show');
                }
            })
        }
    </script>

}
