@page
@model IndexModel

@using Microsoft.AspNetCore.Identity
@using SODP.Model
@using System.Text.Json;
@using System.Text.Json.Serialization;

@{
	ViewData["Title"] = "Projektanci";
}

@inject SignInManager<User> SignInManager

<div class="row mb-2">
	<div class="col-8 p-0">
		<h2 class="text-info p-0">@ViewData["Title"]</h2>
	</div>

	<div class="col-4 p-0">
		<button type="button"
				class="btn btn-info form-control text-white float-right h-100"
				title="Nowy projektant"
				data-toggle="ajax-modal"
				data-url="@Url.Page("Index", "EditDesigner")">
			<i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowy projektant
		</button>
	</div>
</div>

<partial name="_SearchString" />

@if (Model.Designers.Designers.Count() > 0)
{
	<div id="designersAccordion" class="accordion">
		@foreach (var item in Model.Designers.Designers)
		{
			<div class="button card p-0 border-light">
				<div class="card-header p-0 border-light d-flex align-items-center" style="background-color:white" id="card-header-@item.Id">
						<div class="col font-weight-bold clickable"
							 onclick="accordionCollapse(@item.Id)"
							 id="card-head-@item.Id"
							 data-toggle="collapse"
							 data-target="#collapse-@item.Id"
							 aria-expanded="false"
							 aria-controls="collapse-@item.Id">
							@item.Title @item.Firstname @item.Lastname
						</div>
						<div class="colgroup justify-content-end mr-2">
							<a name="additionalBtn"
							   id="newLicense-@item.Id"
							   onclick="NewLicense(@item.Id)"
							   class="btn btn-lg m-1 p-1"
							   data-toggle="tooltip"
							   data-placement="top"
							   title="Dodaj uprawnienia">
								<i class="fas fa-plus fa-lg text-success"></i>
							</a>

							<a name="additionalBtn"
							   id="editDesigner-@item.Id"
							   onclick='EditDesigner(@item.Id)'
							   class="btn btn-lg mb-1 mt-1 ml-1 mr-1 p-1"
							   data-toggle="tooltip"
							   data-placement="top"
							   title="Edycja">
								<i class="fas fa-edit fa-lg text-success"></i>
							</a>

							<a name="additionalBtn"
							   id="deleteDesigner-@item.Id"
							   onclick='Delete("/api/v0_01/designers/@item.Id")'
							   class="btn btn-lg mb-1 mt-1 ml-1 mr-1 p-1"
							   data-toggle="tooltip"
							   data-placement="top"
							   title="Usuń projektanta">
								<i class="fas fa-times fa-lg text-danger"></i>
							</a>
							<input type="checkbox" asp-for="@item.ActiveStatus" name="checkbox_@item.Id"
							   onchange="handleChange(@item.Id,this.checked)"
							   id="checkbox_@item.Id"
							   data-toggle="toggle"
							   title="Aktywność"
							   data-style="ios">
						</div>
				</div>
			</div>
			<div id="collapse-@item.Id"
				 class="collapse hide"
				 aria-labelledby="heading-@item.Id"
				 data-parent="#designersAccordion">
				<div class="card-body" id="license-@item.Id">
					Coś poszło nie tak z ładowaniem listy uprawnień
				</div>
			</div>
		}
	</div>
}
else
{
	<br />
	<p> Lista projektantów jest pusta</p>
}


@section Scripts{
	<script src="~/js/delete.js"></script>
	<script src="~/js/ModalPlaceholder.js"></script>
	<script>
		function EditDesigner(id) {
			$.ajax({
				type: "Get",
				url: `@Url.Page("Index","EditDesigner")&Id=${id}`,
				success: function (data) {
					console.log(data);
					$('#modal-placeholder').html(data);
					$('#editDesigner').modal('show');
				}
			})
		}

		function NewLicense(designerId) {
			$.ajax({
				type: "Get",
				url: `@Url.Page("Index","NewLicense")&designerId=${designerId}`,
				success: function (data) {
					console.log(data);
					$('#modal-placeholder').html(data);
					$('#newLicense').modal('show');
				}
			})
		}

		function handleChange(id, checked) {
			let c = checked ? 1 : 0;
			$.ajax({
				type: "PATCH",
				url: `/api/v0_01/designers/${id}/status`,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				data: JSON.stringify(c),
				success: function (response) {},
				error: function (jqXHR, exception) {
					console.log(jqXHR);
					console.log(exception);
				}
			});
		}

		function accordionCollapse(id) {
			if (document.getElementById(`card-head-${id}`).ariaExpanded !== "true") {
				$(`#license-${id}`).load(`/Designers/index?handler=LicensesPartial&id=${id}`);
			}
		}
	</script>

	<script>
		$(document).ready(function () {
			modalPlaceHolder('/Designers');
		});
	</script>
}