@page
@model IndexModel

@{
    ViewData["Title"] = "Projektanci";
}
@using Microsoft.AspNetCore.Identity
@using SODP.Model

@inject SignInManager<User> SignInManager

<br />
<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">@ViewData["Title"]</h2>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div id="modal-placeholder"></div>
        <div class="col-4 justify-content-end">
            <button type="button" class="btn btn-info form-control text-white float-right"
                    data-toggle="ajax-modal"
                    title="Nowy projektant"
                    data-target="editdesigner"
                    data-url="@Url.Page("Index", "NewDesigner")">
                <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowy projektant
            </button>
        </div>
    }
    <div id="DesignersTable" class="col-12 p-3 mt-3">
        <form method="post">
            @if (Model.DesignersViewModel.Designers.Count() > 0)
            {
                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Imię i nazwisko</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var designer in Model.DesignersViewModel.Designers)
                        {
                            <tr>
                                <td>
                                    <a asp-page="Edit" asp-route-Id="@designer.Id" data-toggle="tooltip" title="Edycja" data-placement="top">@designer.ToString()</a>
                                </td>
                                <td>
                                    <div class="row fa-group justify-content-end mr-0">
                                        <div>
                                            <style>
                                                .toggle.ios, .toggle-on.ios, .toggle-off.ios {
                                                    border-radius: 20px;
                                                }

                                                    .toggle.ios .toggle-handle {
                                                        border-radius: 20px;
                                                    }
                                            </style>
                                            <input type="checkbox" asp-for="@designer.ActiveStatus" onchange="handleChange(@designer.Id,this.checked)" id="checkbox_@designer.Id" name="checkbox_@designer.Id" data-toggle="toggle" data-style="ios">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p> Lista projektantów jest pusta</p>
            }
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/delete.js"></script>
    <script src="~/js/initModalPlaceholder.js"></script>
    <script type="module" src="~/js/designersList.js"></script>

    <script>
        function DeleteDesigner(url) {
            Delete(url);
        }
    </script>

    <script>
        function NewDesigner(currentId) {
            $.ajax({
                type: "Get",
                url: '@Url.Page("Index","NewDesigner")',
                success: function (data) {
                    $('#modal-placeholder').html(data);
                    $('#editdesigner').modal('show');
                }
            })
        }
    </script>
}
