@using SODP.UI.Pages.ArchiveProjects.ViewModels
@using SODP.UI.Services;

@model ProjectVM
@inject LanguageTranslatorFactory _translatorFactory;

<div>
	<div>
		<label class="text-secondary">Nazwa zamierzenia budowlanego:</label>
		<div class="row font-weight-bold ml-2 text-primary">
			<span style="white-space: pre-line">@Model.Title</span>
		</div>
	</div>
	<div>
		<label class="text-secondary">Adres:</label>
		<div class="row font-weight-bold ml-2 text-primary">
			<span style="white-space: pre-line">@Model.Address</span>
		</div>
	</div>
	<div>
		<label class="text-secondary">Jednostka ewidencyjna:</label>
		<div class="row font-weight-bold ml-2 text-primary" ">
			<span style="white-space: pre-line">@Model.LocationUnit</span>
		</div>
	</div>
	<div>
		<label class="text-secondary">Kategoria obiektu budowlanego:</label>
		<div class="row font-weight-bold ml-2 text-primary" ">
			<span style="white-space: pre-line">@Model.BuildingCategory</span>
		</div>
	</div>
	<div>
		<label class="text-secondary">Inwestor:</label>
		<div class="row font-weight-bold ml-2 text-primary" ">
			<span style="white-space: pre-line">@Model.Investor</span>
		</div>
	</div>
	<div>
		<label class="text-secondary">Data opracowania:</label>
		<div class="row font-weight-bold ml-2 text-primary" ">
			@if (String.IsNullOrEmpty(Model.DevelopmentDate))
			{
				<span style="white-space: pre-line">Do ustalenia</span>
			}
			else
			{
				<span style="white-space: pre-line">@Model.DevelopmentDate</span>
			}
		</div>
	</div>
	<div>
		<label class="text-secondary">Opis:</label>
		<div class="row font-weight-bold ml-2 text-primary" ">
			<span style="white-space: pre-line">@Model.Description</span>
		</div>
	</div>
	<div>
		<label class="text-secondary">Części:</label>
		@foreach (var item in Model.Parts)
		{
			<div class="row ml-2 text-primary">
				<span class="font-weight-bold" style="white-space: pre-line">@item.Name</span>
			</div>
			@foreach (var branch in item.Branches)
			{
				<div class="row">
					<div class="col my-auto ml-2 text-primary">@branch.Branch.ToString()</div>
				</div>
				@foreach(var role in branch.Roles)
				{
					<div class="row">
						<div class="col my-auto ml-2 text-primary">@_translatorFactory.GetTranslator().Translate(role.Role) : @role.Designer (@role.Content)</div>
					</div>
				}
			}
		}
	</div>
</div>
