@page
@using Microsoft.AspNetCore.Identity
@using SODP.Model

@model IndexModel

@{
    ViewData["Title"] = "Projekty zakończone";
}

@inject SignInManager<User> SignInManager

<div class="container p-0 m-0">
    <div class="row pl-3 pr-3">
        <div class="col-8">
            <h2 class="text-info">@ViewData["Title"]</h2>
        </div>
    </div>
    
    <partial name="_SearchString" />

    @if (Model.ProjectsViewModel.Projects.Count() > 0)
    {
        <div id="ProjectTable" class="col-12 p-3 mt-0">
            <table class="table table-sm table-hover">
                <thead class="m-0 p-0 thead-light">
                    <tr>
                        <th class="m-0 p-0 pl-1 pr-1">Numer</th>
                        <th class="m-0 p-0 pl-1 pr-1">Stadium</th>
                        <th class="m-0 p-0 pl-1 pr-1">Nazwa</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProjectsViewModel.Projects)
                    {
                    <tr class="m-0 p-0">
                        <td onclick='Edit("/ArchiveProjects/Edit?Id=@item.Id")'
                            class="cell clickable col-1"
                            data-toggle="tooltip"
                            title="Edycja"
                            data-placement="top">
                            @item.Number
                        </td>
                        <td onclick='Edit("/ArchiveProjects/Edit?Id=@item.Id")'
                            class="cell clickable col-1"
                            data-toggle="tooltip"
                            title="Edycja"
                            data-placement="top">
                            @item.Stage.Sign
                        </td>
                        <td onclick='Edit("/ArchiveProjects/Edit?Id=@item.Id")'
                            class="cell clickable col-9"
                            data-toggle="tooltip"
                            title="Edycja"
                            data-placement="top">
                            @item.Name
                        </td>
                        <td class="cell p-0 m-0 col-1">
                            <div class="row">
                                <div>
                                    <a onclick='Restore("/api/v0_01/archive-projects/@item.Id/restore")'
                                        class='btn btn-md m-0 border-0 p-1 text-success'
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="Przywróć projekt">
                                        <i class="fas fa-archive"></i>
                                    </a>
                                </div>
                           </div>
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            @if (Model.PageInfo.TotalPages > 1)
            {
                <div class="col text-center">
                    <div class="btn-group"
                        page-model="@Model.PageInfo"
                        page-class="btn border"
                        page-class-normal="btn-light"
                        page-class-selected="btn-info"
                        page-class-prev-next="btn">
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p> Lista projektów jest pusta</p>
    }
</div>

@section Scripts{
    <script src="~/js/edit.js"></script>
    <script src="~/js/restore.js"></script>
    <script src="~/js/submitForm.js"></script>
    <script src="~/js/archiveProjectList.js"></script>
}