@page
@using Microsoft.AspNetCore.Identity
@using SODP.Model
@using System.Text.Json;
@using System.Text.Json.Serialization;

@model IndexModel

@{
	ViewData["Title"] = "Projekty zakończone";
}

@inject SignInManager<User> SignInManager

<div class="row mb-2 ">
	<div class="col-8 p-0">
		<h2 class="text-info p-0">@ViewData["Title"]</h2>
	</div>
</div>

<partial name="_SearchString" />

@if (Model.ProjectsViewModel.Projects.Count() > 0)
{
	<div id="projectsAccordion" class="accordion">
		@foreach (var item in Model.ProjectsViewModel.Projects)
		{
			<div class="button card border-light">
				<div class="card-header border-light p-0 d-flex align-items-center" style="background-color:white" id="card-header-@item.Id">
					<div class="col font-weight-bold clickable"
						 onclick="accordionCollapse(@item.Id)"
						 id="card-head-@item.Id"
						 data-toggle="collapse"
						 data-target="#collapse-@item.Id"
						 aria-expanded="false"
						 aria-controls="collapse-@item.Id">
						@item.Number @item.Stage.Sign @item.Name
					</div>
					<div class="colgroup justify-content-end mr-2">
						@if (User.IsInRole("ProjectManager"))
						{
							<a name="additionalBtn"
							   id="editProject-@item.Id"
							   onclick='Edit(@item.Id)'
							   class="btn btn-lg mb-1 mt-1 ml-1 mr-1 p-1"
							   data-toggle="tooltip"
							   data-placement="top"
							   title="Edycja">
								<i class="fas fa-edit fa-lg text-success"></i>
							</a>
							<a onclick="Restore(@item.Id)"
							   class="btn"
							   data-toggle="tooltip"
							   data-placement="top"
							   title="Przywróć projekt">
								<i class="fas fa-archive fa-lg text-success"></i>
							</a>
						}
					</div>
				</div>
			</div>
			<div id="collapse-@item.Id"
				class="collapse hide"
				aria-labelledby="heading-@item.Id"
				data-parent="#projectsAccordion">
				<div class="card-body" id="project-@item.Id">
					Coś poszło nie tak z ładowaniem szczegółów
				</div>
			</div>
		}
	</div>

	<br />
	@if (Model.PageInfo.TotalPages > 1)
	{
		<div class="col text-center">
			<div page-model="@Model.PageInfo"
				 page-class="btn border"
				 page-class-normal="btn-light"
				 page-class-selected="btn-info"
				 page-class-prev-next="btn"
				 nav-margin="3"
				 class="btn-group">
			</div>
		</div>
	}
}
else
{
	<p> Lista projektów jest pusta</p>
}

@section Scripts{
	<script>
		function Edit(id) {
			window.location = `/ArchiveProjects/Edit?Id=${id}`;
		}

		function Restore(id) {
			swal({
				title: "Czy jesteś pewien?",
				text: "Przywrócenie projektu do aktywnych.",
				icon: "warning",
				buttons: true,
				danegerMode: true
			}).then((willRestore) => {
				if (willRestore) {
					$.ajax({
						type: "PATCH",
						url: `/api/v0_01/projects/${id}/restore`,
						success: function (data) {
							if (data.success) {
								toastr.success(data.message);
								window.location.reload();
							}
							else {
								toastr.error(data.message);
							}
						}
					})
				}
			})
		}

		function accordionCollapse(id) {
			if (document.getElementById(`card-head-${id}`).ariaExpanded !== "true") {
				$(`#project-${id}`).load(`/ArchiveProjects/index?handler=ProjectPartial&id=${id}`);
			}
		}
	</script>
}