@page
@using Microsoft.AspNetCore.Identity
@using SODP.Model
@using System.Text.Json;
@using System.Text.Json.Serialization;

@model IndexModel

@{
	ViewData["Title"] = "Projekty zakończone";
}

@inject SignInManager<User> SignInManager

<div class="row">
	<div class="col-8 p-0">
		<h2 class="text-info p-0">@ViewData["Title"]</h2>
	</div>
</div>

<partial name="_SearchString" />

@if (Model.ProjectsViewModel.Projects.Count() > 0)
{
	<table id="ProjectTable" class="table table-sm table-hover">
		<thead class="thead-light">
			<tr>
				<th class="pl-1 pr-1">Numer</th>
				<th class="pl-1 pr-1">Stadium</th>
				<th class="pl-1 pr-1">Nazwa</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ProjectsViewModel.Projects)
			{
				<tr class="m-0 p-0">
					<td onclick='@(User.IsInRole("ProjectManager") ? "Edit("+item.Id+")" : "")'
				class='cell@(User.IsInRole("ProjectManager") ? " clickable" : "")'
				data-toggle='@(User.IsInRole("ProjectManager") ? " tooltip" : "")'
				title='@(User.IsInRole("ProjectManager") ? "Szczegóły" : "")'
				style="vertical-align:middle">
						@item.Number
					</td>
					<td onclick='@(User.IsInRole("ProjectManager") ? "Edit("+item.Id+")" : "")'
				class='cell@(User.IsInRole("ProjectManager") ? " clickable" : "")'
				data-toggle='@(User.IsInRole("ProjectManager") ? " tooltip" : "")'
				title='@(User.IsInRole("ProjectManager") ? "Szczegóły" : "")'
				style="vertical-align:middle">
						@item.Stage.Sign
					</td>
					<td onclick='@(User.IsInRole("ProjectManager") ? "Edit("+item.Id+")" : "")'
						class='cell@(User.IsInRole("ProjectManager") ? " clickable" : "")'
						data-toggle='@(User.IsInRole("ProjectManager") ? " tooltip" : "")'
						title='@(User.IsInRole("ProjectManager") ? "Szczegóły" : "")'
						style="vertical-align:middle">
						@item.Name
					</td>
					<td class="cell text-right">
						@if (User.IsInRole("ProjectManager"))
						{
							<a onclick='Restore("/api/v0_01/projects/@item.Id/restore")'
							   class='btn btn-md m-0 border-0 p-1 text-success'
							   data-toggle="tooltip"
							   data-placement="top"
							   title="Przywróć projekt">
								<i class="fas fa-archive fa-lg"></i>
							</a>
						}
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</tfoot>
	</table>
	@if (Model.PageInfo.TotalPages > 1)
	{
		<div class="col text-center">
			<div page-model="@Model.PageInfo"
				 page-class="btn border"
				 page-class-normal="btn-light"
				 page-class-selected="btn-info"
				 page-class-prev-next="btn"
				 class="btn-group">
			</div>
		</div>
	}
}
else
{
	<p> Lista projektów jest pusta</p>
}

@section Scripts{
	<script>
		function Edit(id) {
			window.location = `/ArchiveProjects/Edit?Id=${id}`;
		}

		function Restore(url) {
			swal({
				title: "Czy jesteś pewien?",
				text: "Przywrócenie projektu do aktywnych.",
				icon: "warning",
				buttons: true,
				danegerMode: true
			}).then((willRestore) => {
				if (willRestore) {
					$.ajax({
						type: "GET",
						url: url,
						success: function (data) {
							if (data.success) {
								toastr.success(data.message);
								window.location.reload();
							}
							else {
								toastr.error(data.message);
							}
						}
					})
				}
			})
		}
	</script>
}