@using SODP.UI.Pages.ActiveProjects.ViewModels
@using SODP.UI.Services;
@model AvailableRolesVM
@inject ITranslator _translator

<!-- Modal add branch role -->
<div class="modal fade" id="addTechnicalRole" tabindex="-1" role="dialog" aria-labelledby="addTechnicalRoleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div id="error-placeholder"></div>
                <form asp-page-handler="addTechnicalRole">
                    <input name="PartBranchId" type="hidden" value="@Model.PartBranchId" />
                    <input name="IsValidate" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group" enabled="@Model.ItemsRole.Count>0">
                        @Html.DropDownListFor(model => model.SelectedRoleId, @Model.ItemsRole, @Model.ItemsRole.Count > 0 ? null : "-- nic do wybrania --", @Model.ItemsRole.Count > 0
                        ? (object)new { @class = "form-control", required = "true", }
                        : new { @class = "form-control", required = "true", disabled = "disabled" })
                        <span asp-validation-for="@Model.SelectedRoleId" class="text-danger"></span>
                    </div>
                    <div class="form-group" enabled="@Model.ItemsLicense.Count>0">
                        @Html.DropDownListFor(model => model.SelectedLicenseId, @Model.ItemsLicense, @Model.ItemsLicense.Count > 0 ? null : "-- nic do wybrania --", @Model.ItemsLicense.Count > 0
                        ? (object)new { @class = "form-control", required = "true", }
                        : new { @class = "form-control", required = "true", disabled = "disabled" })
                        <span asp-validation-for="@Model.SelectedLicenseId" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-center">
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-save="modal" @((Model.ItemsRole.Count==0 || Model.ItemsLicense.Count==0) ? " hidden=true" : "")>Wybierz</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
