@page
@model EditModel

@using SODP.Shared.Enums

@{
    ViewData["Title"] = "Edycja projektu";
}

<div class="container p-0 m-0">
    <div class="row pl-3 pr-3">
        <div class="col-8">
            <h2 class="text-info">@ViewData["Title"]</h2>
        </div>
    </div>
</div>

<div class="container p-0 m-0">
    <form method="post">
        <input name="IsValidate" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        <input asp-for="Project.Id" type="hidden" />
        <input asp-for="Project.Number" type="hidden" />
        <input asp-for="Project.StageId" type="hidden" />
        <input asp-for="Project.StageSign" type="hidden" />
        <input asp-for="Project.StageTitle" type="hidden" />

        <div class="col-md-7 justify-content-end font-weight-bold" style="padding:20px">
            <div>
                @Model.Project.Number
                @Model.Project.Stage
            </div>
            <div>
                @Model.Project.Title
            </div>
        </div>

        <div class="justify-content-end col-md-7" style="padding:20px">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Podsumowanie</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="false">Podstawowe</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="branch-tab" data-toggle="tab" href="#branch" role="tab" aria-controls="branch" aria-selected="false">Branże</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                    <br/>
                    <div>
                        Podsumowanie danych projektu...
                    </div>
                </div>
                <div class="tab-pane fade show" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <br />
                    <div class="form-group row">
                        <div class="col-12">
                            <input asp-for="Project.Title" class="form-control" placeholder="Tytuł" />
                            <span asp-validation-for="Project.Title" style="font-size:14px" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <textarea asp-for="Project.Description" class="form-control" placeholder="Opis (opcjonalny)"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <textarea asp-for="Project.TitleStudy" class="form-control" placeholder="Tytuł opracowania"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <textarea asp-for="Project.Investment" class="form-control" placeholder="Nazwa inwestycji"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <textarea asp-for="Project.Address" class="form-control" placeholder="Adres inwestycji"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <textarea asp-for="Project.Investor" class="form-control" placeholder="Inwestor"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="branch" role="tabpanel" aria-labelledby="branch-tab">
                    <br />
                    <div class="form-group">
                        @for (int i = 0; i < Model.Project.ApplyBranches.Count; i++)
                        {
                            <input asp-for="Project.ApplyBranches[i].Value" type="hidden" value="Project.ApplyBranches[i].Value">
                            <input asp-for="Project.ApplyBranches[i].Text" type="hidden" value="Project.ApplyBranches[i].Text">
                            <div class="row">

                                <div class="btn btn-lg col-1"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     title="Usuń branżę"
                                     onclick="RemoveBranch(@Model.Project.Id,@Model.Project.ApplyBranches[i].Value)">
                                    <i class="fas fa-times text-danger"></i>
                                </div>
                                <div class="col my-auto">@Model.Project.ApplyBranches[i].Text</div>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <div class="row align-middle">
                            <div class="col pt-1 pb-1">
                                @Html.DropDownListFor(model => model.Project.BranchId, @Model.Project.Branches, new { @class = "form-control" })
                                <span asp-validation-for="Project.BranchId" style="font-size:14px" class="text-danger"></span>
                            </div>
                            <div class="btn btn-lg col-1" onclick="AddBranch(@Model.Project.Id)">
                                <i class="fas fa-plus text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="justify-content-end col-md-7" style="padding:20px">
            <div class="col-12">
                <partial name="_SubmitAndBackButtonPartial" />
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <partial name="/Pages/Shared/_ValidationScriptsPartial.cshtml" />
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');
    </script>

    <script>
        function RemoveBranch(projectId, branchId) {
            $.ajax({
                type: "Delete",
                url: `@Url.Page("Edit", "Branch")&id=${projectId}&branchId=${branchId}`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {
                    window.location.reload(true);
                }
            })
        }
    </script>

    <script>           
        function AddBranch(projectId) {
            var selectedBranch = $("#Project_BranchId").val();
            $.ajax({
                type: "Put",
                url: `@Url.Page("Edit", "Branch")&id=${projectId}&branchId=${selectedBranch}`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {
                    console.log('success');
                    window.location.reload(true);
                }
            })
        }
    </script>
}