@page
@model EditModel

@using System.Web
@using System.Text.RegularExpressions;
@using SODP.Shared.Enums

@{
    ViewData["Title"] = "Edycja projektu";
}

<div class="container p-0 m-0">
    <div class="row pl-3 pr-3">
        <div class="col-8">
            <h2 class="text-info">@ViewData["Title"]</h2>
        </div>
    </div>
</div>


<div class="container p-0 m-0">
    <form method="post">
        <input name="IsValidate" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        <input asp-for="Project.Id" type="hidden" />
        <input asp-for="Project.Number" type="hidden" />
        <input asp-for="Project.StageId" type="hidden" />
        <input asp-for="Project.StageSign" type="hidden" />
        <input asp-for="Project.StageName" type="hidden" />

        <div class="col-md-7 justify-content-end font-weight-bold" style="padding:20px">
            <div>
                @Model.Project.Number
                @Model.Project.Stage
            </div>
            <div>
                @Model.Project.Name
            </div>
        </div>

        <div class="justify-content-end col-md-7" style="padding:20px">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Podsumowanie</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="false">Podstawowe</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="branch-tab" data-toggle="tab" href="#branch" role="tab" aria-controls="branch" aria-selected="false">Branże</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                    <br/>
                    <div>
                        <div>
                            Nazwa zamierzenia budowlanego:<br/>
                            <div class="row font-weight-bold">
                                <span style="white-space: pre-line">@Model.Project.Title</span>
                            </div>
                        </div>
                        <div>
                            Adres:<br/>
                            <div class="row font-weight-bold">
                                <span style="white-space: pre-line">@Model.Project.Address</span>
                            </div>
                        </div>
                        <div>
                            Jednostka ewidencyjna:<br/>
                            <div class="row font-weight-bold">
                                <span style="white-space: pre-line">@Model.Project.LocationUnit</span>
                            </div>
                        </div>
                        <div>
                            Kategoria obiektu budowlanego:<br />
                            <div class="row font-weight-bold">
                                <span style="white-space: pre-line">@Model.Project.BuildingCategory</span>
                            </div>
                        </div>
                        <div>
                            Inwestor:<br />
                            <div class="row font-weight-bold">
                                <span style="white-space: pre-line">@Model.Project.Investor</span>
                            </div>
                        </div>
                        <div>
                            Opis:<br/>
                            <div class="row font-weight-bold">
                                <span style="white-space: pre-line">@Model.Project.Description</span>
                            </div>
                        </div>
                        <div>
                            Branże:
                            @foreach (var item in Model.Project.ProjectBranches.Branches)
                            {
                                <div class ="row">
                                    <span class="font-weight-bold" style="white-space: pre-line">@item.Branch.Name</span>
                                </div>
                                @foreach(var role in item.Roles)
                                {
                                    <div class="row">
                                        <div class="col my-auto">@Model._translator.Translate(role.Role, Services.Languages.Pl) : @role.Designer (@role.Content)</div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <br />

                    <div class="row justify-content-md-center">
                        <div class="col-5">
                            <a asp-page="Index" class="btn btn-success form-control">Wróć do listy</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                    <br />
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Nazwa projektu:</label>
                            <input asp-for="Project.Name" class="form-control" placeholder="Nazwa projektu" />
                            <span asp-validation-for="Project.Name" style="font-size:14px" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Nazwa zamierzenia budowlanego:</label>
                            <textarea asp-for="Project.Title" class="form-control" placeholder="Nazwa zamierzenia budowlanego"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Adres:</label>
                            <textarea asp-for="Project.Address" class="form-control" placeholder="Adres inwestycji"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Jednostka ewidencyjna:</label>
                            <input asp-for="Project.LocationUnit" class="form-control" placeholder="Jednostka ewidencyjna" />
                            <span asp-validation-for="Project.LocationUnit" style="font-size:14px" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Kategoria obiektu budowlanego:</label>
                            <input asp-for="Project.BuildingCategory" class="form-control" placeholder="Kategoria obiektu budowlanego" />
                            <span asp-validation-for="Project.BuildingCategory" style="font-size:14px" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Inwestor:</label>
                            <textarea asp-for="Project.Investor" class="form-control" placeholder="Inwestor"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Pozwolenie na budowę:</label>
                            <textarea asp-for="Project.BuildingPermit" class="form-control" placeholder="Nr pozwolenia na budowę"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Opis:</label>
                            <textarea asp-for="Project.Description" class="form-control" placeholder="Opis (opcjonalny)"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <partial name="_SubmitAndBackButtonPartial" />
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        @for (int i = 0; i < Model.Project.ProjectBranches.Branches.Count; i++)
                        {
                            <input asp-for="Project.ProjectBranches.Branches[i].Branch.Id" type="hidden">
                            <input asp-for="Project.ProjectBranches.Branches[i].Branch.Name" type="hidden">
                            <div class="row">
                                <div class="col my-auto">
                                    <span class="font-weight-bold">@Model.Project.ProjectBranches.Branches[i].Branch.Name</span>
                                </div>
                                <div class="col-1 p-0 m-0">
                                    <div class="row">
                                        <div class="btn btn-md"
                                         data-toggle="tooltip"
                                         data-placement="top"
                                         title="Ustaw funkcje techniczne"
                                         onclick="EditRoles(@Model.Project.Id,@Model.Project.ProjectBranches.Branches[i].Branch.Id)">
                                            <i class="fas fa-edit text-success"></i>
                                        </div>
                                        <div class="btn btn-md"
                                         data-toggle="tooltip"
                                         data-placement="top"
                                         title="Usuń branżę"
                                         onclick="RemoveBranch(@Model.Project.Id,@Model.Project.ProjectBranches.Branches[i].Branch.Id)">
                                            <i class="fas fa-times text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @foreach (var role in Model.Project.ProjectBranches.Branches[i].Roles)
                            {
                                <div class="row">
                                    <div class="col my-auto">@Model._translator.Translate(role.Role, Services.Languages.Pl) : @role.Designer (@role.Content)</div>
                                </div>
                            }
                        }
                    </div>

                    @if (Model.Project.AvailableBranches.Items.Count > 0)
                    {
                        <div class="form-group">
                            <div class="row align-middle">
                                <div class="col pt-1 pb-1">
                                    @Html.DropDownListFor(model => model.Project.AvailableBranches.SelectedId, @Model.Project.AvailableBranches.Items, new { @class = "form-control" })
                                    <span asp-validation-for="Project.AvailableBranches.SelectedId" style="font-size:14px" class="text-danger"></span>
                                </div>
                                <div class="btn btn-lg col-1" onclick="AddBranch(@Model.Project.Id, @Model.Project.AvailableBranches.SelectedId)">
                                    <i class="fas fa-plus text-success"></i>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="tab-pane fade" id="branch" role="tabpanel" aria-labelledby="branch-tab">
                    <br />
                    <div class="form-group">
                        @for (int i = 0; i < Model.Project.ProjectBranches.Branches.Count; i++)
                        {
                            <input asp-for="Project.ProjectBranches.Branches[i].Branch.Id" type="hidden">
                            <input asp-for="Project.ProjectBranches.Branches[i].Branch.Name" type="hidden">
                            <div class="row">
                                <div class="col my-auto">
                                    <span class="font-weight-bold">@Model.Project.ProjectBranches.Branches[i].Branch.Name</span>
                                </div>
                                <div class="col-1 p-0 m-0">
                                    <div class="row">
                                        <div class="btn btn-md"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             title="Ustaw funkcje techniczne"
                                             onclick="EditRoles(@Model.Project.Id,@Model.Project.ProjectBranches.Branches[i].Branch.Id)">
                                                <i class="fas fa-edit text-success"></i>
                                        </div>
                                        <div class="btn btn-md"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             title="Usuń branżę"
                                             onclick="RemoveBranch(@Model.Project.Id,@Model.Project.ProjectBranches.Branches[i].Branch.Id)">
                                                <i class="fas fa-times text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @foreach (var role in Model.Project.ProjectBranches.Branches[i].Roles)
                            {
                                <div class="row">
                                    <div class="col my-auto">@Model._translator.Translate(role.Role, Services.Languages.Pl) : @role.Designer (@role.Content)</div>
                                </div>
                            }
                        }
                    </div>

                    @if (Model.Project.AvailableBranches.Items.Count > 0)
                    {
                        <div class="form-group">
                            <div class="row align-middle">
                                <div class="col pt-1 pb-1">
                                    @Html.DropDownListFor(model => model.Project.AvailableBranches.SelectedId, @Model.Project.AvailableBranches.Items, new { @class = "form-control" })
                                    <span asp-validation-for="Project.AvailableBranches.SelectedId" style="font-size:14px" class="text-danger"></span>
                                </div>
                                <div class="btn btn-lg col-1" onclick="AddBranch(@Model.Project.Id, @Model.Project.AvailableBranches.SelectedId)">
                                    <i class="fas fa-plus text-success"></i>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <partial name="/Pages/Shared/_ValidationScriptsPartial.cshtml" />
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');
    </script>

    <script>
        function EditRoles(projectId, branchId) {
            $.ajax({
                type: "Get",
                url: `@Url.Page("Edit","TechnicalRoles")&projectId=${projectId}&branchId=${branchId}`,
                success: function (data) {
                    $('#modal-placeholder').html(data);
                    $('#technicalRoles').modal('show');
                }
            })
        }    
    </script>

    <script>
        function RemoveBranch(projectId, branchId) {
            $.ajax({
                type: "Delete",
                url: `@Url.Page("Edit", "Branch")&id=${projectId}&branchId=${branchId}`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {
                    window.location.reload(true);
                }
            })
        }
    </script>

    <script>
        function AddBranch(projectId) {
            var selectedId = $("#Project_AvailableBranches_SelectedId").val();
            $.ajax({
                type: "Put",
                url: `@Url.Page("Edit", "Branch")&id=${projectId}&branchId=${selectedId}`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {
                    window.location.reload(true);
                }
            })
        }
    </script>

    <script>
        function initModalPlaceHolder(returnUrl) {
            var placeholderElement = $('#modal-placeholder');
            placeholderElement.on('click', '[data-save="modal"]', function (event) {
                event.preventDefault();
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var dataToSend = form.serialize();
                $.post(actionUrl, dataToSend).done(function (data) {
                    var newBody = $('.modal-body', data);
                    placeholderElement.find('.modal-body').replaceWith(newBody);
                    var isValid = newBody.find('[name="IsValidate"]').val() == 'True';
                    var url = $(this).data('url');
                    if (isValid) {
                        placeholderElement.find('.modal').modal('hide');
                        window.location.reload(true);
                    }
                });
            });
        }
    </script>

    <script>
          $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                console.log(url);
                console.log(event);
                $.get(url).done(function (data) {
                    var placeholderElement = $('#modal-placeholder');
                    placeholderElement.html(data);
                    placeholderElement.find('.modal').modal('show');
                });
            });
            initModalPlaceHolder(window.location.href);
        });
    </script>
}