@page
@model EditModel

@using SODP.Shared.Enums

<br />

<div class="container row p-0 m-0">
    <div class="col">
        <h2 class="text-info">Edycja projektu</h2>
    </div>
</div>

<br />

<div class="container">
    <div class="border justify-content-end col-md-7" style="padding:30px">
        <form method="post">
            <input name="IsValidate" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <input type="hidden" asp-for="Project.Id" />

            <div class="form-group row">
                <div class="col-12">
                    <input asp-for="Project.Number" class="form-control" placeholder="Numer" readonly />
                    <span asp-validation-for="Project.Number" style="font-size:14px" class="text-danger"></span>
                </div>
                <div class="row">
                </div>
            </div>

            <input type="hidden" asp-for="Project.StageId" />
            <input type="hidden" asp-for="Project.StageSign" />
            <input type="hidden" asp-for="Project.StageTitle" />
            <div class="form-group row">
                <div class="col-12">
                    <input asp-for="Project.Stage" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <input asp-for="Project.Title" class="form-control" placeholder="Tytuł" readonly="@(Model.Project.Status.Equals(ProjectStatus.Active) ? false : true)" />
                    <span asp-validation-for="Project.Title" style="font-size:14px" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <textarea asp-for="Project.Description" class="form-control" placeholder="Opis (opcjonalny)" readonly="@(Model.Project.Status.Equals(ProjectStatus.Active) ? false : true)"></textarea>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-12">
                    <textarea asp-for="Project.TitleStudy" class="form-control" placeholder="Tytuł opracowania" readonly="@(Model.Project.Status.Equals(ProjectStatus.Active) ? false : true)"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <textarea asp-for="Project.Investment" class="form-control" placeholder="Nazwa inwestycji" readonly="@(Model.Project.Status.Equals(ProjectStatus.Active) ? false : true)"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <textarea asp-for="Project.Address" class="form-control" placeholder="Adres inwestycji" readonly="@(Model.Project.Status.Equals(ProjectStatus.Active) ? false : true)"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <textarea asp-for="Project.Investor" class="form-control" placeholder="Inwestor" readonly="@(Model.Project.Status.Equals(ProjectStatus.Active) ? false : true)"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <partial name="_SubmitAndBackButtonPartial" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <partial name="/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}