@page
@model EditModel

@using System.Web
@using System.Text.RegularExpressions;
@using SODP.Shared.Enums

@{
	ViewData["Title"] = "Szczegóły projektu";
}

<div class="col-8 p-0">
	<h2 class="text-info p-0">@ViewData["Title"]</h2>
</div>

<div class="p-0">
	<form method="post">
		<input name="IsValidate" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
		<input asp-for="Project.Id" type="hidden" />
		<input asp-for="Project.Number" type="hidden" />
		<input asp-for="Project.StageId" type="hidden" />
		<input asp-for="Project.StageSign" type="hidden" />
		<input asp-for="Project.StageName" type="hidden" />

		<div class="col-lg-7 justify-content-end font-weight-bold p-0">
			<div>
				@Model.Project.Number
				@Model.Project.Stage
			</div>
			<div>
				@Model.Project.Name
			</div>
		</div>

		<br />

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Dane podstawowe</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="parts-tab" data-toggle="tab" href="#parts" role="tab" aria-controls="parts" aria-selected="false">Części opracowania</a>
			</li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
				<br />
				<div class="form-group row">
					<div class="col-lg-7">
						<label>Nazwa projektu:</label>
						<input asp-for="Project.Name" class="form-control" placeholder="Nazwa projektu" />
						<span asp-validation-for="Project.Name" style="font-size:14px" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-7">
						<label>Nazwa zamierzenia budowlanego:</label>
						<textarea asp-for="Project.Title" class="form-control" placeholder="Nazwa zamierzenia budowlanego" rows="4"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-7">
						<label>Adres:</label>
						<textarea asp-for="Project.Address" class="form-control" placeholder="Adres inwestycji" rows="3"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-7">
						<label>Jednostka ewidencyjna:</label>
						<input asp-for="Project.LocationUnit" class="form-control" placeholder="Jednostka ewidencyjna" />
						<span asp-validation-for="Project.LocationUnit" style="font-size:14px" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-7">
						<label>Kategoria obiektu budowlanego:</label>
						<input asp-for="Project.BuildingCategory" class="form-control" placeholder="Kategoria obiektu budowlanego" />
						<span asp-validation-for="Project.BuildingCategory" style="font-size:14px" class="text-danger"></span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-7">
						<label>Inwestor:</label>
						<div class="row m-0 p-0">
							<div class="col-11 m-0 p-0">
								<textarea asp-for="Project.Investor" class="form-control" placeholder="Inwestor" rows="4"></textarea>
							</div>
							<div class="col-1 m-0 p-0">
								<button type="button"
										class="col btn btn-info form-control text-white float-right h-100"
										title="Pobierz inwestora z bazy"
										data-toggle="ajax-modal"
										data-url="@Url.Page("Edit","InvestorsList")&projectId=@Model.Project.Id">
									...
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-1">
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-7">
						<label>Pozwolenie na budowę:</label>
						<textarea asp-for="Project.BuildingPermit" class="form-control" placeholder="Nr pozwolenia na budowę" rows="2"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-7">
						<label>Opis:</label>
						<textarea asp-for="Project.Description" class="form-control" placeholder="Opis (opcjonalny)" rows="2"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-7">
						<label>Data opracowania:</label>
						<div class="input-group-append" data-date-format="dd/mm/yyyy">
							<input asp-for="Project.DevelopmentDate" class="form-control col" type="date" />
						</div>
					</div>
				</div>

				<br />

				<div class="row">
					<div class="col-lg-7">
						<partial name="_SubmitAndBackButtonPartial" />
					</div>
				</div>
			</div>
			<div class="tab-pane fade active" id="parts" role="tabpanel" aria-labelledby="parts-tab">
				<div class="col-lg-7" style="padding:30px">
					@if (Model.Project.Parts.Count > 0)
					{
						<div id="projectsAccordion" class="accordion">
							@foreach (var item in Model.Project.Parts)
							{
								<div class="button card border-light">
									<div class="card-header border-light p-0 d-flex align-items-center" style="background-color:white" id="card-header-@item.Id">
										<div class="col font-weight-bold clickable"
											 onclick="accordionCollapse(@item.Id)"
											 id="card-head-@item.Id"
											 data-toggle="collapse"
											 data-target="#collapse-@item.Id"
											 aria-expanded="false"
											 aria-controls="collapse-@item.Id">
											@item.Sign @item.Name
										</div>
										<div class="colgroup justify-content-end mr-2">
											@if (User.IsInRole("ProjectManager"))
											{
												<a	name="additionalBtn"
													id="newBranch-@item.Id"
													onclick="AddBranch(@item.Id)"
													class="btn btn-lg m-1 p-1"
													data-toggle="tooltip"
													data-placement="top"
													title="Dodaj uprawnienia">
													<i class="fas fa-plus fa-lg text-success"></i>
												</a>
												<a name="additionalBtn"
													id="editProject-@item.Id"
													onclick='EditPart(@Model.Project.Id,@item.Id)'
													class="btn btn-lg mb-1 mt-1 ml-1 mr-1 p-1"
													data-toggle="tooltip"
													data-placement="top"
													title="Edycja">
													<i class="fas fa-edit fa-lg text-success"></i>
												</a>
												<a 
													onclick='Delete("/api/v0_01/projects/parts/@item.Id","Usunięcie części nie może być cofnięte")'
													class="btn"
													data-toggle="tooltip"
													data-placement="top"
													title="Usuń część projektu">
													<i class="fas fa-times fa-lg text-danger"></i>
												</a>
											}
										</div>
									</div>
								</div>
								<div id="collapse-@item.Id"
									 class="collapse hide"
									 aria-labelledby="heading-@item.Id"
									 data-parent="#projectsAccordion">
									<div class="card-body" id="project-@item.Id">
										Coś poszło nie tak z ładowaniem szczegółów części
									</div>
								</div>
							}
						</div>
					}

					<br />

					<div class="row align-end">
						<div class="col p-0">
							<button type="button"
									class="btn btn-info form-control text-white float-right h-100"
									title="Nowa część"
									data-toggle="ajax-modal"
									data-url="@Url.Page("Edit","EditProjectPart")&projectId=@Model.Project.Id">
								<i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowa część
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-lg-7 form-group">
@*			@for (int i = 0; i < Model.Project.ProjectBranches.Branches.Count; i++)
			{
				<input asp-for="Project.ProjectBranches.Branches[i].Branch.Id" type="hidden">
				<input asp-for="Project.ProjectBranches.Branches[i].Branch.Name" type="hidden">
				<div class="row">
					<div class="col my-auto font-weight-bold">
						@Model.Project.ProjectBranches.Branches[i].Branch.Name
					</div>
					<div class="col-3 p-0 m-0">
						<div class="btn btn-md"
						 data-toggle="tooltip"
						 data-placement="top"
						 title="Ustaw funkcje techniczne"
						 onclick="EditRoles(@Model.Project.Id,@Model.Project.ProjectBranches.Branches[i].Branch.Id)">
							<i class="fas fa-edit fa-lg text-success"></i>
						</div>
						<div class="btn btn-md"
						 data-toggle="tooltip"
						 data-placement="top"
						 title="Usuń branżę"
						 onclick="RemoveBranch(@Model.Project.Id,@Model.Project.ProjectBranches.Branches[i].Branch.Id)">
							<i class="fas fa-times fa-lg text-danger"></i>
						</div>
					</div>
				</div>

				@foreach (var role in Model.Project.ProjectBranches.Branches[i].Roles)
				{
					<div class="row">
						<div class="col my-auto">@Model._translator.Translate(role.Role, Services.Languages.Pl) : @role.Designer (@role.Content)</div>
					</div>
				}
			}
*@		</div>

		<br />

@*		@if (Model.Project.AvailableBranches.Items.Count > 0)
		{
			<div class="col col-lg-7 form-group">
				<div class="row align-middle">
					<div class="col pt-1 pb-1">
						@Html.DropDownListFor(model => model.Project.AvailableBranches.SelectedId, @Model.Project.AvailableBranches.Items, new { @class = "form-control" })
						<span asp-validation-for="Project.AvailableBranches.SelectedId" style="font-size:14px" class="text-danger"></span>
					</div>
					<div class="btn btn-lg col-1" onclick="AddBranch(@Model.Project.Id, @Model.Project.AvailableBranches.SelectedId)">
						<i class="fas fa-plus text-success"></i>
					</div>
				</div>
			</div>
		}
*@
	</form>
</div>


@section Scripts{
	<script src="~/js/delete.js"></script>
	<script src="~/js/ModalPlaceholder.js"></script>
	<partial name="/Pages/Shared/_ValidationScriptsPartial.cshtml" />

	<script>
		$('#myTab a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});

		// store the currently selected tab in the hash value
		$("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
			var id = $(e.target).attr("href").substr(1);
			window.location.hash = id;

		});

		// on load of the page: switch to the currently selected tab
		var hash = window.location.hash;
		$('#myTab a[href="' + hash + '"]').tab('show');

	</script>

	<script>
		function AddBranch(part) {
			$.ajax({
				type: "Get",
				url: `@Url.Page("Edit","AddPartBranch")&projectPartId=${part}`,
				success: function (data) {
					$('#modal-placeholder').html(data);
					$('#addPartBranch').modal('show');
				}
			})
		}

		function EditPart(project, part) {
			$.ajax({
				type: "Get",
				url: `@Url.Page("Edit","EditProjectPart")&projectId=${project}&projectPartId=${part}`,
				success: function (data) {
					$('#modal-placeholder').html(data);
					$('#editProjectPart').modal('show');
				}
			})
		}

		function RemoveBranch(project, branch) {
			$.ajax({
				type: "Delete",
				url: `@Url.Page("Edit", "Branch")&projectId=${project}&branchId=${branch}`,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("XSRF-TOKEN",
						$('input:hidden[name="__RequestVerificationToken"]').val());
				},
				success: function (data) {
					window.location.reload(true);
				}
			})
		}

		function EditRoles(project, branch) {
			$.ajax({
				type: "Get",
				url: `@Url.Page("Edit","TechnicalRoles")&projectId=${project}&branchId=${branch}`,
				success: function (data) {
					$('#modal-placeholder').html(data);
					$('#technicalRoles').modal('show');
				}
			})
		}

		function accordionCollapse(part) {
			if (document.getElementById(`card-head-${part}`).ariaExpanded !== "true") {
				$(`#project-${part}`).load(`/ActiveProjects/Edit?handler=PartBranchesPartial&projectPartId=${part}`);
			}
		}

	</script>

	<script>
		$(document).ready(function () {
			modalPlaceHolder(window.location.href);
		});
	</script>
}