@page
@using Microsoft.AspNetCore.Identity
@using SODP.Model

@model IndexModel

@{
    ViewData["Title"] = "Projekty aktywne";
}


@inject SignInManager<User> SignInManager

<br />

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">@ViewData["Title"]</h2>
    </div>

    @if (User.IsInRole("Administrator") || User.IsInRole("ProjectManager"))
    {
        <div class="col-3 justify-content-end">
            <button type="button"
                    class="btn btn-info form-control text-white float-right"
                    title="Nowy projekt"
                    data-toggle="ajax-modal"
                    data-url="@Url.Page("Index","NewProject")">
                <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowy projekt
            </button>
        </div>
    }

    @if (Model.ProjectsViewModel.Projects.Count() > 0)
    {
            <div id="ProjectTable" class="col-12 p-3 mt-3">
                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class="m-0 p-0 pl-1 pr-1">Numer</th>
                            <th class="m-0 p-0 pl-1 pr-1">Stadium</th>
                            <th class="m-0 p-0 pl-1 pr-1">Tytuł</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProjectsViewModel.Projects)
                        {
                        <tr class="m-0 p-0">
                            <td onclick='Edit("/ActiveProjects/Edit?Id=@item.Id")'
                                class="cell clickable"
                                data-toggle="tooltip"
                                title="Edycja"
                                data-placement="top">
                                @item.Number
                            </td>
                            <td onclick='Edit("/ActiveProjects/Edit?Id=@item.Id")'
                                class="cell clickable"
                                data-toggle="tooltip"
                                title="Edycja"
                                data-placement="top">
                                @item.Stage.Sign
                            </td>
                            <td onclick='Edit("/ActiveProjects/Edit?Id=@item.Id")'
                                class="cell clickable"
                                data-toggle="tooltip"
                                title="Edycja"
                                data-placement="top">
                                @item.Title
                            </td>
                            <td class="cell text-right">
                                <div class="row">
                                    <a onclick='Archive("/api/v0_01/active-projects/@item.Id/archive")'
                                       class='btn btn-md m-0 py-0 text-success'
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Przenieś projekt do archiwum">
                                        <i class="fas fa-archive"></i>
                                    </a>
                                    <a onclick='Delete("/api/v0_01/active-projects/@item.Id")'
                                       class='btn btn-md m-0 py-0 text-danger'
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="Usuń projekt">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-12 text-right">
                    <div class="btn-group" asp-action="Index"
                         page-model="@Model.ProjectsViewModel.PageInfo"
                         page-class="btn border"
                         page-class-normal="btn btn-light"
                         page-class-selected="btn btn-info">
                    </div>
                </div>
            </div>        
        }
    else
    {
        <br />
        <p> Lista projektów jest pusta</p>
    }

</div>


@section Scripts{
    <script src="~/js/edit.js"></script>
    <script src="~/js/delete.js"></script>
    <script src="~/js/archive.js"></script>
    <script src="~/js/activeProjectList.js"></script>

    <script>
        function NewProject(id) {
            $.ajax({
                type: "Get",
                url: '@Url.Page("Index","NewProject")&Id=' + id,
                success: function (data) {
                    $('#modal-placeholder').html(data);
                    $('#editproject').modal('show');
                }
            })
        }
    </script>
}
