@page
@model IndexModel
@{
    ViewData["Title"] = "Projekty aktywne";
}
@using Microsoft.AspNetCore.Identity
@using SODP.Model
@using SODP.UI.ViewModels;

@inject SignInManager<User> SignInManager

<link rel="stylesheet" href="~/lib/DataTables/DataTables-1.10.24/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/lib/DataTables/DataTables-1.10.24/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="~/lib/DataTables/Buttons-1.7.0/css/buttons.bootstrap4.min.css" />



<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">@ViewData["Title"]</h2>
    </div>
    @if (User.IsInRole("Administrator") || User.IsInRole("ProjectManager"))
    {
        <div id="modal-placeholder"></div>
        <div class="col-3 justify-content-end">
            <button type="button"
                    class="btn btn-info form-control text-white float-right"
                    title="Nowy projekt"
                    data-toggle="ajax-modal"
                    data-url="@Url.Page("Index","ProjectDetails")">
                <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowy projekt
            </button>
        </div>
    }

    <div class="col-12">
        <table id="ProjectDataTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Numer</th>
                    <th>Stadium</th>
                    <th>Tytuł</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Numer</th>
                    <th>Stadium</th>
                    <th>Tytuł</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/delete.js"></script>
    <script src="~/js/archive.js"></script>
    <script src="~/js/activeProjectList.js"></script>

    <script src="~/lib/DataTables/DataTables-1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/Buttons-1.7.0/js/dataTables.buttons.min.js"></script>

    <script>
        var RoleCheck = @(User.IsInRole("ProjectManager") ? "true" : "false");
        var ProjectsArray = @Json.Serialize(Model.Projects.Data.Collection);
    </script>

    <script>
        function OpenProjectEdit(currentId) {
            $.ajax({
                type: "Get",
                url: '@Url.Page("Index","ProjectDetails")&Id=' + currentId,
                success: function (data) {
                    $('#modal-placeholder').html(data);
                    $('#editproject').modal('show');
                }
            })
        }
    </script>
}
