@using SODP.UI.Pages.Shared.ViewModels
@using SODP.UI.Services;

@model ProjectPartDetailsVM

@{
    var _translator = ViewData["Translator"] as ITranslator;
    var _projectPartId = ViewData["ProjectPartId"];
}

<div class="row clickable" onclick="AddBranch(@Model.Id)">
    <div class="col-1">
        <a class="btn btn-lg m-0 p-0 text-danger"
           data-toggle="tooltip"
           data-placement="top"
           title="Dodaj branżę do części projektu">
            <i class="fas fa-plus text-success"></i>
        </a>
    </div>
    <div class="col">
        <div class="font-weight-bold">
            Dodaj branżę do części projektu
        </div>
    </div>
</div>

<br />

@if (Model.Branches.Count > 0)
{
    @foreach (var item in Model.Branches)
    {
        <div class="row">
            <div class="col-2">
                <a onclick='RemoveBranch(@Model.Id,@item.Id)'
                   class="btn btn-lg m-0 p-0 text-danger clickable"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Usuń branżę">
                    <i class="fas fa-trash-alt "></i>
                </a>
                <a onclick="AddTechnicalRole(@item.Id)"
                   class="btn btn-lg m-0 p-0 text-danger clickable"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Dodaj rolę do branży">
                    <i class="fas fa-plus text-success"></i>
                </a>
            </div>
            <div class="col">@item.Branch.ToString()</div>
        </div>
        @foreach (var role in item.Roles)
        {
            <div class="row">
                <a onclick="RemoveTechnicalRole(@Model.Id,@item.Id,'@role.Role')"
                   class="col-2 btn btn-lg m-0 p-0 text-danger clickable"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Usuń rolę">
                    <i class="fas fa-trash-alt "></i>
                </a>
                <div class="col-3">@_translator.Translate(role.Role):</div>
                <div class="col">@role.Designer</div>
            </div>
        }
    }
}
else
{
    <p>Brak branż w ramach części</p>
}

@section Scripts{
    <script>

    </script>
}