@page
@model IndexModel

@{ ViewData["Title"] = "Branże"; }
@using Microsoft.AspNetCore.Identity
@using SODP.Model

@inject SignInManager<User> SignInManager

<br />
<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">@ViewData["Title"]</h2>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div id="modal-placeholder"></div>
        <div class="col-4 justify-content-end">
            <button type="button" class="btn btn-info form-control text-white float-right"
                    data-toggle="ajax-modal"
                    title="Nowa branża"
                    data-target="editdesigner"
                    data-url="@Url.Page("Index", "NewBranch")">
                <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowa branża
            </button>
        </div>
    }
    <div id="BranchesTable" class="col-12 p-3 mt-3">
        <form method="post">
            @if (Model.BranchesViewModel.Branches.Count() > 0)
            {


<table class="table table-sm table-hover">
                     <thead class="thead-light">
                         <tr>
                             <th>Symbol</th>
                             <th>Opis</th>
                             <th></th>
                         </tr>
                     </thead>
                     <tbody>
                         @foreach (var branch in Model.BranchesViewModel.Branches) 
                         { 
                         <tr>
                             <td>
                                 <a onclick='NewBranch(@branch.Id)'
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Edycja branży">
                                     @branch.Sign
                                 </a>
                             </td>
                             <td>
                                 <a onclick='NewBranch(@branch.Id)'
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Edycja branży">
                                     @branch.Title
                                 </a>
                             </td>
                             <td>
                                 <div class="row group justify-content-end mr-0">
                                     <div>
                                         <a onclick='Delete("/api/v0_01/branches/@branch.Id")'
                                            class="btn btn-lg mb-0 mt-0 ml-1 mr-1 p-1 text-danger"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="Usuń branżę">
                                             <i class="fas fa-trash-alt"></i>
                                         </a>
                                     </div>
                                 </div>
                             </td>
                         </tr>
                         }
                     </tbody>
                 </table>
            }
            else
            {
                <p> Lista branż jest pusta</p>            
            }
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/delete.js"></script>
    <script src="~/js/initModalPlaceholder.js"></script>
    <script src="~/js/branchesList.js"></script>

    <script>
        function DeleteBranch(url) {
            Delete(url);
        }
    </script>

    <script>
        function NewBranch(currentId) {
            $.ajax({
                type: "Get",
                url: '@Url.Page("Index","NewBranch")',
                success: function (data) {
                    $('#modal-placeholder').html(data);
                    $('#editdesigner').modal('show');
                }
            })
        }
    </script>
}