@page
@using Microsoft.AspNetCore.Identity
@using SODP.Model
@using System.Text.Json;
@using System.Text.Json.Serialization;

@model IndexModel

@{
	ViewData["Title"] = "Branże";
}


@inject SignInManager<User> SignInManager

<div class="row mb-2">
	<div class="col-8 p-8">
		<h2 class="text-info p-0">@ViewData["Title"]</h2>
	</div>

	<div class="col-4 p-0">
		<button type="button"
				class="btn btn-info form-control text-white float-right h-100"
				title="Nowa branża"
				data-toggle="ajax-modal"
				data-url="@Url.Page("Index", "EditBranch")">
			<i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowa branża
		</button>
	</div>
</div>

<partial name="_SearchString" />

@if (Model.Branches.Branches.Count() > 0)
{
	<div id="branchesAccordion" class="accordion">
		@foreach (var item in Model.Branches.Branches.OrderBy(x => x.Order))
		{
			<div class="button card p-0 border-light">
				<div class="card-header p-0 border-light d-flex align-items-center" style="background-color:white" id="card-header-@item.Id">
					<div class="col font-weight-bold clickable"
						 onclick="accordionCollapse(@item.Id)"
						 id="card-head-@item.Id"
						 data-toggle="collapse"
						 data-target="#collapse-@item.Id"
						 aria-expanded="false"
						 aria-controls="collapse-@item.Id">
						@item.Sign-@item.Name
					</div>

					<div class="colgroup justify-content-end mr-2">
						<a name="additionalBtn"
						   id="editBranch-@item.Id"
						   onclick='EditBranch(@item.Id)'
						   class="btn btn-lg m-1 p-1"
						   data-toggle="tooltip"
						   data-placement="top"
						   title="Edycja branży">
							<i class="fas fa-edit fa-lg text-success"></i>
						</a>

						<a name="additionalBtn"
						   id="deleteBranch-@item.Id"
						   onclick='Delete("/api/v0_01/branches/@item.Id","Usunięcie branży. Operacja nie może być cofnięta")'
						   class="btn btn-lg mb-1 mt-1 ml-1 mr-1 p-1"
						   data-toggle="tooltip"
						   data-placement="top"
						   title="Usuń branżę">
							<i class="fas fa-times fa-lg text-danger"></i>
						</a>
						<input type="checkbox" asp-for="@item.ActiveStatus" name="checkbox_@item.Id"
							onchange="handleChange(@item.Id,this.checked)"
							id="checkbox_@item.Id"
							data-toggle="toggle"
							data-style="ios">
					</div>
				</div>
			</div>
			<div id="collapse-@item.Id"
				 class="collapse hide"
				 aria-labelledby="heading-@item.Id"
				 data-parent="#branchesAccordion">
				<div class="card-body" id="designer-@item.Id">
					Coś poszło nie tak z ładowaniem listy branż
				</div>
			</div>
		}
	</div>
}
else
{
	<p> Lista branż jest pusta</p>
}

@section Scripts{
	<script src="~/js/delete.js"></script>
	<script src="~/js/ModalPlaceholder.js"></script>

	<script>
		function EditBranch(id) {
			$.ajax({
				type: "Get",
				url: `@Url.Page("Index","EditBranch")&Id=` + id,
				success: function (data) {
					$('#modal-placeholder').html(data);
					$('#editBranch').modal('show');
				}
			})
		}

		function handleChange(id, checked) {
			let c = checked ? 1 : 0;
			$.ajax({
				type: "PATCH",
				url: `/api/v0_01/branches/${id}/status`,
				contentType: "application/json; charset=utf-8",
				dataType: 'json',
				data: JSON.stringify(c),
				success: function (response) {},
				error: function (jqXHR, exception) {
					console.log(exception);
				}
			});
		}

		function accordionCollapse(id) {
			if (document.getElementById(`card-head-${id}`).ariaExpanded !== "true") {
				$(`#designer-${id}`).load(`/Branches/index?handler=PartialDesigners&id=${id}`);
			}
		}
	</script>

	<script>
		$(document).ready(function () {
			modalPlaceHolder('/Branches');
		});

	</script>
}