@using SODP.UI.Pages.Parts.ViewModels
@model PartVM
<!-- Modal -->
<div class="modal fade" id="editPart" tabindex="-1" role="dialog" aria-labelledby="editPartLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-info" id="editPartLabel">@(Model.Id==0 ? "Nowa część" : "Edycja części")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div id="error-placeholder"></div>
                <form asp-page-handler="EditPart">
                    <input name="IsValidate" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div class="form-group">
                        <input asp-for="Sign" onkeyup="this.value = this.value.toUpperCase();" id="sign" class="form-control" value="@Model.Sign" placeholder="Znak części" readonly="@(Model.Id.Equals(0) ? false : true)" />
                        <span asp-validation-for="Sign" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Name" onkeyup="this.value = this.value.toUpperCase();" id="title" class="form-control" value="@Model.Name" placeholder="Opis opis" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <partial name="_SubmitAndBackButtonModalPartial" />
            </div>
        </div>
    </div>
</div>